p{
    margin: 0px;
}

.Container{
    width: auto;
    margin-bottom: 0;
}

.LineContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Line{
    display: flex;
    align-items: center;
}

.Text{
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
}

.PayWrapper{
    height: 252px;
    overflow:scroll;
    overflow-x: hidden;
}

.DivideLine{
    width: 288px;
    height: 1px;
    background: #DFE3E6;
}

.Money{
    margin-left: 11px;
}

.Year{
    margin: 16px 0px 16px 5px ;
    color: #808080;
}
