.TaxPopUpMain{
    display: flex;
    flex-direction: column;
    width: 100vw;
    background:white;
    padding: 16px;
}

.XButton{
    align-self: flex-end;
    width: 24px;
    height: 24px;
    background: url('../../../src/img/XButton.svg') no-repeat center / contain;
    border: 0px;
}

.Title{
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}

.Text{
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
}

.Article{
    margin: 16px 0px 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #808080;
}

.InputTax{
    width: 290px;
    height: 40px;
    margin-bottom: 8px;
    padding: 8px 10px;
    border: 1px solid #DFE3E6;
    box-sizing: border-box;
    border-radius: 3px;
}

.CalculateButton{
    align-self: flex-start;
    margin-bottom: 24px;
    padding: 0px;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    color: #EA0029;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
}

.AddButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 288px;
    height: 40px;
    color: white;
    background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
    box-shadow: 0px 0px 24px rgba(234, 0, 41, 0.33);
    border-radius: 6px;
    cursor:pointer;
}

.AddButton:hover{
    background: #EA0029;
}

.AddButton:disabled{
    background: #BEC5CC;
    box-shadow: 0px 0px 0px;
}